
body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
}

.headerbar, .headertext, .footer {
  background-color: #1F2937;
}

.headerbar {
  display: flex;
  justify-content: space-around;
}

.headertext {
  display: flex;
  flex: 1 1 auto;
  height: 300px;
  justify-content: center;
}

.footer {
  text-align: center;
  color: #e5e7eb;
  padding: 25px 0px 25px;
}

ul {
  list-style-type: none;
  display: flex;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  margin: 10px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  padding:10px;
}

#infobox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  height: 400px;
}

#quotebox {
  background-color: #E5e7eb;
  flex: 1 1 auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 140px 20px;
}

#calltoactionbox {
  display: flex;
  flex: 1 1 auto;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.infoboxes {
  display: flex;
}

.imagebox {
  background-color: grey;
  color: #e5e7eb;
  font-size: 18px;

  padding: 20px;
  margin: 10px 10px 100px;
}

.hero {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.secondary {
  font-size: 18px;
  color: #E5e7eb;
}

.infoheader {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

button {
  background-color: #3382F6;
  color:#f9faF8;
  border-radius: 6px;
}

.bluebox {
  background-color: #3382F6;
  color:#f9faF8;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 700px;
  height: 80px;

}

.left {
  width: 650px;
}

#topbutton {
  border-color: #1F2937;
  padding: 3px 20px 3px;
  border-width: thin;
}

#bottombutton {
  border-color:#E5e7eb;
  padding: 3px 20px 3px;
  border-width: normal;
}

#call {
  font-weight: 800;

}

#callsubtext {
  font-size: 10px;

}

p {
  margin: 0px;
  padding: 0px;
}

#footertext {
  font-weight: 200;
  font-size: 10px;
}

#quotetext {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight:100;
  padding: 60px 100px 0px;
}

#authortag {
  display:flex;
  font-weight:1000;
  margin-left: 550px;
}

.infoboxshell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoitem {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-radius: 8px;
  border-color: #3382F6;
  margin:10px 20px 10px;
}
.infotext {
  width: 95px;
  height:auto;
  font-size:10px;
  text-align: center;
}

#imageboxtext {
  padding:50px 10px 30px;
}